nav
  position: fixed
  height: 100%
  border-right: 3px double black
  padding-top: 8px
  padding-left: 8px
  a
    display: block
    width: 150px
    padding-left: 28px
    margin-bottom: 2mm

.wrap > .container
  margin-left: 160px

.user.login nav
  display: none

#user-panel
  ul
    padding-left: 0
    li
      display: inline-block
      list-style: none

.form-group.required label:after
  content: ' *'

.faq-index .contents a
  display: block

.moment.online
  font-weight: bold

@media (min-width: 1200px)
.container
  width: auto

.icon
  background: no-repeat left
  background-size: contain

.icon.site
  background-image: url("/images/icons/site.png")

.icon.statistics
  background-image: url("/images/icons/statistics.png")

.icon.feedback
  background-image: url("/images/icons/feedback.png")

.icon.reviews
  background-image: url("/images/icons/reviews.png")

.icon.news
  background-image: url("/images/icons/news.png")

.icon.pages
  background-image: url("/images/icons/pages.png")

.icon.payments
  background-image: url("/images/icons/payments.png")

.icon.journal
  background-image: url("/images/icons/journal.png")

.icon.users
  background-image: url("/images/icons/users.png")

.icon.income
  background-image: url("/images/icons/income.png")

.icon.investments
  background-image: url("/images/icons/investments.png")

.icon.accounts
  background-image: url("/images/icons/accounts.png")

.icon.translation
  background-image: url("/images/icons/translation.png")

.icon.visits
  background-image: url("/images/icons/visits.png")

.icon.import
  background-image: url("/images/icons/import.png")

.icon.settings
  background-image: url("/images/icons/settings.png")

.icon.logout
  background-image: url("/images/icons/logout.png")
