$light_red: rgb(237, 21, 102)
$dark_red: rgb(171, 5, 53)
@import url(https://fonts.googleapis.com/css?family=Jura:400,900&subset=latin,cyrillic)

body
  font-family: Jura, sans-serif

#background
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  height: 100vh
  width: 100vw
  background: url("/images/background.jpg") center
  background-size: cover
  z-index: -1

.feedback.create
  #background
    background-image: url("/images/flowers.jpg")

#logo
  width: 80px

#user-panel
  ul
    padding-left: 0
    li
      display: inline-block
      list-style: none

.background
  border-radius: 5px
  margin-left: auto
  margin-right: auto
  width: 980px
  border: 1px solid rgba(229,229,229,0.9)
  background: -moz-linear-gradient(top,  rgba(229,229,229,0.85) 0%, rgba(229,229,229,0.85) 30%, rgba(255,255,255,0.85) 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,0.85)), color-stop(30%,rgba(229,229,229,0.85)), color-stop(100%,rgba(255,255,255,0.85)))
  background: -webkit-linear-gradient(top,  rgba(229,229,229,0.85) 0%,rgba(229,229,229,0.85) 30%,rgba(255,255,255,0.85) 100%)
  background: -o-linear-gradient(top,  rgba(229,229,229,0.85) 0%,rgba(229,229,229,0.85) 30%,rgba(255,255,255,0.85) 100%)
  background: -ms-linear-gradient(top,  rgba(229,229,229,0.85) 0%,rgba(229,229,229,0.85) 30%,rgba(255,255,255,0.85) 100%)
  background: linear-gradient(to bottom,  rgba(229,229,229,0.85) 0%,rgba(229,229,229,0.85) 30%,rgba(255,255,255,0.85) 100%)

@media (max-width: 1024px)
  img
    display: none
  .slider
    display: none

@media (min-width: 1024px)
  header
    border: 0 solid rgba(212, 211, 211, 1)
    padding: 8px
    margin: 12px auto 18px
    strong
      font-size: 20px
    .chat
      text-align: right
      a
        margin-right: 10px
    .auth
      div
        font-family: Consolas, "Courier New", monospace
        border: 1px solid rgba(237, 21, 102, 1)
        border-radius: 4px
        text-align: center
        padding: 14px 0
        a
          background-color: rgba(237, 21, 102, 1)
          color: white
          padding: 12px 14px
        a:hover
          color: white
          text-decoration: none
          background-color: rgba(171, 5, 53, 1)
          transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s
        a:first-child
          padding-left: 26px
          border-top-left-radius: 16px
          border-bottom-left-radius: 16px
        a:last-child
          padding-right: 26px
          border-top-right-radius: 16px
          border-bottom-right-radius: 16px

    .header-container
      height: 120px
      > div:first-child
        margin-top: 25px
        float: left
      > div:last-child
        float: right
    .navbar-default
      font-family: Arial, Helvetica, sans-serif
      background-color: transparent
      border: none
      margin-bottom: 0
      .collapse
        text-align: center
        .nav
          display: inline-block
          margin: auto
          li
            border-right: 1px solid #794567
            background: rgb(145,103,131)
            background: -moz-linear-gradient(top,  rgba(145,103,131,1) 0%, rgba(102,59,87,1) 100%)
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(145,103,131,1)), color-stop(100%,rgba(102,59,87,1)))
            background: -webkit-linear-gradient(top,  rgba(145,103,131,1) 0%,rgba(102,59,87,1) 100%)
            background: -o-linear-gradient(top,  rgba(145,103,131,1) 0%,rgba(102,59,87,1) 100%)
            background: -ms-linear-gradient(top,  rgba(145,103,131,1) 0%,rgba(102,59,87,1) 100%)
            background: linear-gradient(to bottom,  rgba(145,103,131,1) 0%,rgba(102,59,87,1) 100%)
            -webkit-box-shadow: 7px 5px 27px -5px rgba(0,0,0,0.75)
            -moz-box-shadow: 7px 5px 27px -5px rgba(0,0,0,0.75)
            box-shadow: 7px 5px 27px -5px rgba(0,0,0,0.75)
            a
              font-size: 14px
              color: white
              padding: 7px 46px
              text-transform: uppercase
              font-family: Georgia, Times, "Times New Roman", serif
          li:hover
            transition: background 0.4s ease 0s
            background: rgb(221,60,101)
            background: -moz-linear-gradient(top,  rgba(221,60,101,1) 0%, rgba(180,15,58,1) 100%)
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,60,101,1)), color-stop(100%,rgba(180,15,58,1)))
            background: -webkit-linear-gradient(top,  rgba(221,60,101,1) 0%,rgba(180,15,58,1) 100%)
            background: -o-linear-gradient(top,  rgba(221,60,101,1) 0%,rgba(180,15,58,1) 100%)
            background: -ms-linear-gradient(top,  rgba(221,60,101,1) 0%,rgba(180,15,58,1) 100%)
            background: linear-gradient(to bottom,  rgba(221,60,101,1) 0%,rgba(180,15,58,1) 100%)
          li.active
            background: rgb(180,15,58)
            background: -moz-linear-gradient(top,  rgba(180,15,58,1) 0%, rgba(221,60,101,1) 100%)
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,15,58,1)), color-stop(100%,rgba(221,60,101,1)))
            background: -webkit-linear-gradient(top,  rgba(180,15,58,1) 0%,rgba(221,60,101,1) 100%)
            background: -o-linear-gradient(top,  rgba(180,15,58,1) 0%,rgba(221,60,101,1) 100%)
            background: -ms-linear-gradient(top,  rgba(180,15,58,1) 0%,rgba(221,60,101,1) 100%)
            background: linear-gradient(to bottom,  rgba(180,15,58,1) 0%,rgba(221,60,101,1) 100%)
            a
              background-color: transparent
          li:first-child
            border-top-left-radius: 24px
          li:last-child
            border-bottom-right-radius: 24px

.home-index
  text-align: center
  .slider-container
    margin: auto
    h1
      font-weight: bold
      color: black
    position: relative
    width: 920px
    height: 400px
    ul
      position: absolute
      width: 920px
      height: 400px
    .signup
      padding-top: 4em
      position: absolute
      text-align: center
      left: 460px
      width: 460px
      height: 400px
      background-color: rgba(255, 255, 255, 0.4)
      div
        font-weight: bold
        font-size: 23px
        margin-bottom: 1em
        color: black
      .button
        text-transform: uppercase
  .text
    text-align: right
    width: 920px
    margin: 12px auto
    border: 1px solid black
    padding: 8px 8px 20px
    p
      text-align: justify

.button
  padding: 12px 18px
  border-radius: 20px

.button, .btn
  color: white
  border-color: rgba(237, 21, 102, 1)
  background-color: rgba(237, 21, 102, 1)
  cursor: pointer

.button:hover, .btn:hover
  color: white
  text-decoration: none
  background-color: rgba(171, 5, 53, 1)
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s

ul.slider
  position: relative
  padding-left: 0
  overflow: hidden
  li
    position: absolute
    list-style: none
    background-position: center
    background-size: cover
  li.animated
    transition: left 1s ease 0s

.user.login, .user.signup
  text-align: center
  h1
    font-size: 18pt
    text-transform: uppercase
    font-weight: bold
  .background > img
    transform: scaleX(1.8)
    margin-bottom: 120px

.userform
  margin: auto
  width: 568px
  border: 1px solid rgba(171, 5, 53, 1)
  padding: 40px
  border-radius: 6px
  font: italic normal normal 14px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif
  > div
    text-align: center
  input::-webkit-input-placeholder
    color: $dark_red
  input
    display: block
    background-color: transparent
    width: 290px
    height: 40px
    text-align: center
    border: 3px solid rgba(171, 5, 53, 1)
    margin: 0 auto 10px
  a
    margin-right: 4px
  a, button
    color: $dark_red
    text-transform: uppercase
    display: inline-block
    background-color: transparent
    width: 141px
    line-height: 36px
    text-align: center
    border: 3px solid rgba(171, 5, 53, 1)

  input:hover, a:hover, button:hover
    border-color: rgba(237, 21, 102, 1)

  button
    line-height: 34px

  .buttons
    margin: auto
    text-align: right
    width: 290px
    button
      text-transform: none

h1
  text-align: center
  font-family: 'Open Sans',sans-serif

.faq-index
  .contents
    margin: 12px
    padding: 12px
    border-radius: 12px
    background-color: rgba(0, 0, 0, 0.1)
  dl
    padding: 12px
  a
    display: block

.feedback.create .background
  text-align: center
  h1
    font-size: 28px
    margin-bottom: 16px

.feedback-create
  font-family: 'Open Sans',sans-serif
  margin: auto
  width: 384px
  padding-bottom: 120px
  input, textarea
    display: block
    width: 100%
    margin-bottom: 5px
    padding: 4px
    border: 1px solid black
    background-color: transparent
  textarea
    min-height: 130px
  input::-webkit-input-placeholder
    color: black
  textarea::-webkit-input-placeholder
    color: black
  .btn
    float: right

.marketing
  padding: 24px
  h1
    display: inline-block
    padding-top: 12px
    font-size: 24px
    padding-bottom: 12px
    margin: auto auto 12px
    border-bottom: 1px solid black
  .info > div
    margin-bottom: 16px
    > div
      display: inline-block
      color: white
      line-height: 40px
    > div:first-child
      width: 230px
      text-align: center
      background-color: rgba(0, 46, 93, 1)
      font-family: Georgia, Times, "Times New Roman", serif
      font-style: italic
    > div:last-child
      background-color: rgba(214, 16, 67, 1)
      padding-left: 16px
      padding-right: 16px
  .percent
    text-align: center
    width: 100px
  .bonus
    display: inline-block
    padding: 8px 12px
    border-radius: 5px
    color: white
    font-family: 'Open Sans',sans-serif
    font-size: 14px
    background: rgb(14,14,14)
    background: -moz-linear-gradient(top,  rgba(14,14,14,1) 0%, rgba(125,126,125,1) 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14,14,14,1)), color-stop(100%,rgba(125,126,125,1)))
    background: -webkit-linear-gradient(top,  rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%)
    background: -o-linear-gradient(top,  rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%)
    background: -ms-linear-gradient(top,  rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%)
    background: linear-gradient(to bottom,  rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%)


  .black
    margin: auto
    color: white
    background-color: black
    width: 920px
    img
      vertical-align: top
      height: 130px
      margin: 4px
    > *
      display: inline-block
    > div:first-child
      width: 774px
      > div
        padding: 8px
        margin: 8px
      > div:first-child
        border-bottom: 1px solid white

  .info
    vertical-align: top
    display: inline-block
    width: 450px

  .text
    display: inline-block
    width: 450px
    text-align: center
    img
      transform: scaleX(1.5)
    > div
      border: 1px solid rgb(171, 5, 53)
      border-radius: 6px
      background-color: rgba(121, 69, 103, 0.17)
      text-align: right
      padding: 12px 12px 24px
      p
        text-align: justify
      a
        color: white
        background-color: $dark_red
        padding: 12px 24px
        margin-right: 24px

.faq-index
  .black
    position: relative
    color: red
    background-color: black
    margin: 24px
    > div
      min-height: 64px
    > div:first-child
      font-weight: bold
      padding-top: 32px
      padding-left: 16px
      border-bottom: 1px solid red
    > div:last-child
      padding-top: 4px
      padding-left: 12px

.center
  text-align: center

.about
  padding-top: 16px
  text-align: center
  h2
    padding-left: 16px
    text-align: left
    font-weight: bold
    font-size: 14px
    border-bottom: 1px solid black
  > div:first-child
    > div:first-child
      margin-right: 140px
    > div
      display: inline-block
      width: 378px
      img[src*="shadow"]
        transform: scaleX(1.3)
  .text:first-child
    margin-bottom: 48px
  .text
    text-align: justify
    padding: 16px

.node-index, .node-create, .archive-index, .user-index, .user-view
  padding: 24px

.user-view .archive-index
  padding: 0

.breadcrumb, .alert
  margin-left: auto
  margin-right: auto
  width: 980px


#linux
  position: fixed
  display: none
  vertical-align: top
  top: 33%
  background-color: #fff
  width: 100vw
  z-index: 1
  border-top: 1px solid black
  border-bottom: 1px solid black
  text-align: center
  margin: auto
  cursor: pointer
  > *
    width: 30%
    display: table-cell
    vertical-align: top
    padding: 1em
    &:first-child
      text-align: right
    &:last-child
      text-align: left
  .welcome
    font-size: 1.5em
    vertical-align: middle

footer
  //display: none
  padding: 36px
  text-align: center
  a
    color: #003bff

.bonus
  padding: 24px

.moment.online
  font-weight: bold
